/* Estilos para o componente Dashboard */
.App-header{
width: 100vw;
height: 100vh;
}
.container-dashboard{
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #e6e6e6;
}
.section-dashboard{
    width: 100vw;
    height: 100px;
    background-color: red;
}
.app-header span{
    color: blue;
    padding: 3px;
}
.options {
    display: flex;
    /* background-color: blue; */
}
.options a{
    padding: 5px;
    background-color: rgb(61, 160, 222);
    border-radius: 6px;
    color: green;
}